# Bytecode de Python
*.pyc

# Cachés y directorios de entorno virtual
venv/
env/
.venv/

# Base de datos local (SQLite)
db.sqlite3

# Archivos de configuración locales con secretos (variables de entorno)
.env
settings_local.py

# Archivos específicos de sistemas operativos/editores
.DS_Store # macOS
Thumbs.db # Windows
.vscode/

# Ignorar carpetas de migraciones (ejemplos)
**/migrations/
cliente/migrations
security/migrations
monitoreoparametro/migrations