# Configuración de Django
DEBUG=True
SECRET_KEY=django-insecure-fp^eo-5flrt#1u0%tuhh8!!%b4as%7p87zdngnp%t(!hw5yl8@
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuración de la base de datos
DB_NAME=db_yakuwise
DB_USER=administrator_sys
DB_PASSWORD=mikyeska
DB_HOST=localhost
DB_PORT=5432

